<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">ZWIE</h3>
    <nav class="nav nav-masthead">
      <%= link_to "Home", root_path, class: 'nav-link' %>
      <%= link_to "Contact Us", contact_path, class: 'nav-link' %>
      <%= link_to "About Us", about_us_path, class: 'nav-link' %>
      <%= link_to "Photos", albums_path, class: 'nav-link' %>
      <%= link_to "Blog", blogs_path, class: 'nav-link' %>
      <% login_helper 'nav-link' %>
    </nav>
  </div>
</div>