<h1>Create a new photo album</h1>

<%= form_for(@album_item) do |f| %>
  <% if @album_item.errors.any? %>
    <% @album_item.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "ZWIE", sticky: false) %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="btn btn-primary">
          Upload a cover image for the album <%= f.file_field :main_image, style: 'display:none' %>
        </label>
      </div>
      <div class="form-group">
        <label class="btn btn-primary">
          Upload a thumb image for the album <%= f.file_field :thumb_image, style: 'display:none' %>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control', rows: '15' %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-6">
      <h3>Album tags</h3>
      <%= f.fields_for :tags do |tag_form| %>
        <%= render 'tag_fields', f: tag_form %>
      <% end %>

      <div>
        <%= link_to_add_association 'Add Tag', f, :tags %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= f.submit 'Save Album', class: 'btn btn-primary' %>
  </div>
<% end %>