<h1>Photo Albums</h1>

<%= link_to "Create New Album", new_album_path %>

<% @album_items.each do |album_item| %>
    <p><%= link_to album_item.title, album_path(album_item.id) %></p>
    <p><%= album_item.subtitle %></p>
    <p><%= album_item.main_image %></p>
    <%= link_to "Edit", edit_album_path(album_item) %>
<% end %>
